<h1>Welcome To JotAm APP</h1>
<h5>To create your first to do list:</h5>
<%= link_to "Sign Up", '/signup' %> |
<%= link_to "Log In", '/login' %> |
<%= link_to "Log In via Google", '/auth/google_oauth2' %>