<h1><%= @user.first_name %></h1>
<% @user.lists.each do |list| %>
<p><%= link_to list.title, user_list_path(@user, list) %></p>
<% end %>



<%# <%= link_to "Log Out", '/logout', method: :delete %> 
<%= link_to "Create List", new_user_list_path(@user) %> | 